############################################

# Java / Spring Boot

############################################
target/
*.class
*.log

############################################

# Maven

############################################
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

############################################

# Gradle

############################################
.gradle/
build/

############################################

# IDE Files

############################################

# IntelliJ

.idea/
*.iml
out/

# Eclipse

.project
.classpath
.settings/

# VS Code

.vscode/

############################################

# OS Files

############################################
.DS_Store
Thumbs.db

############################################

# Environment / Local Config

############################################
.env
application-local.properties
application-local.yml

############################################

# Logs

############################################
logs/
*.log
############################################
